<center>
  <h2> GitHub Graphql API</h2>
  <h3>Org: Google </h3>
</center>
<ul type="none">
  <li>
    <%= link_to "All Open Source Repos", all_repos_repositories_path%>
  </li>
  <li>
    <%= link_to "Download CSV", all_repos_repositories_path + ".csv"%>
  </li>
</ul>
